<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#power-select
        selected=destination
        options=cities
        onchange=(action (mut destination))
        allowClear=true
        placeholder='Select a location...'
        as |name|}}
          {{name}}
      {{/power-select}}
      {{#power-calendar class="demo-calendar-big"
        center=month
        selected=date
        onCenterChange=(action (mut month) value='date') as |calendar|}}
        <nav class="ember-power-calendar-nav">
          <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -12 'month'}}>«</button>
          <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter -1 'month'}}>‹</button>
          <div class="ember-power-calendar-nav-title">
            {{moment-format calendar.center 'MMMM YYYY'}}
          </div>
          <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 1 'month'}}>›</button>
          <button class="ember-power-calendar-nav-control" onclick={{action calendar.actions.moveCenter 12 'month'}}>»</button>
        </nav>
        {{calendar.days}}
      {{/power-calendar}}
      <div class="boxes-list boxes-list-vertical">
        {{#each model as |student|}}
          <div class="boxes-list-item blue-box">
            <header><strong>{{student.name}}</strong></header>
            {{#link-to 'students.student' student}}
              See homeworks
            {{/link-to}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
